/* Folha de estilos criada por Lucas Santana */

/* Caracteres latinos */
@charset "UTF-8";

/* ==========================================================================
Sobrescrita dos padrões do navegador.
========================================================================== */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ==========================================================================
Configurações Gerais.

1. Cabeçalho.

2. Menu de Navegação.
    a. Logo.
    b. Logotipo.
    c. Menu.
    d. Lista.
    e. Link da Lista.
    f. Âncora do Link da Lista.
    g. Link ativo e Mouse sobre.
    h. Icone da Caixa de seleção.
    i. Caixa de Seleção.

3. Corpo.
    a. Titulos Centralizados.
    b. Divisão Container(Principal).
    c. Divisão do Banner.
    d. Conteudo do Banner.

4. Página Sobre Mim.
    a. Interface.
    b. Foto do Perfil.
    c. Dados do Perfil.
    d. Blocos da Interface.
    e. Divisão do Resumo.
    f. Divisão das Habilidades.

5. Página Contato.
    a. Formulário.
    b. Botão.

6. Página Curriculo.
    a. Imagem.

7. Rodapé.
    a. Caixas.
    b. Logo.
    c. Listas.
    d. Mapa do Site.
    e. Direitos Autorais.

5. Responsividade.
    a. Tablets.
    b. Smartphones.
========================================================================== */

/* ==========================================================================
Cabeçalho.
========================================================================== */
header.cabecalho {
    position: relative;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
}

/* ==========================================================================
Menu de Navegação.
========================================================================== */

/* Logo.
========================================================================== */
picture#logo {
    position: relative;
    top: 15px;
    padding-left: 100px;
}

picture#logo a {
    border: none!important;
}

/* Logotipo.
========================================================================== */
label.logotipo a {
    color: #ffffff;
    font-size: 20px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
    border: none!important;
}

label.logotipo a:hover {
    color: #ffffff!important;
}

/* Menu Alternativo.
========================================================================== */
nav#menu-alt {
    position: fixed;
    background-color: rgba(0,0,0, 0.2);
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    z-index: 1;
}

/* Lista.
========================================================================== */
nav#menu-alt ul {
    float: right;
    margin-right: 100px;
}

/* Links.
========================================================================== */
nav#menu-alt ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0;
}

/* Referência dos Links.
========================================================================== */
nav#menu-alt ul li a {
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 8px;
}

/* Link ativo e Mouse sobre.
========================================================================== */
nav#menu-alt a.ativo, nav#menu-alt a:hover {
    border-radius: 18px;
    border: 1px solid #ffffff;
    color: #fff;
    transition: .5s;
}

/* Icone da Caixa de Seleção.
========================================================================== */
.botaocheck {
    font-size: 30px;
    color: #ffffff;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* Caixa de Seleção.
========================================================================== */
#check {
    display: none;
}

/* 

/* menu-alt.
========================================================================== */
nav#menu {
    position: fixed;
    background-color: #000000;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    z-index: 1;
}

/* Lista.
========================================================================== */
nav#menu ul {
    float: right;
    margin-right: 100px;
}

/* Links.
========================================================================== */
nav#menu ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0;
}

/* Referência dos Links.
========================================================================== */
nav#menu ul li a {
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 8px;
}

/* Link ativo e Mouse sobre.
========================================================================== */
nav#menu a.ativo, nav#menu a:hover {
    border: 1px solid #808080;
    color: #808080;
    transition: .5s;
}

/* Icone da Caixa de Seleção.
========================================================================== */
.botaocheck {
    font-size: 30px;
    color: #ffffff;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* Caixa de Seleção.
========================================================================== */
#check {
    display: none;
}

/* 

==========================================================================
Corpo do Site.
========================================================================== */

/* Titulos Centralizados.
========================================================================== */
.titulo-center {
    text-align: center;
    padding-bottom: 15px;
}

/* Divisão Principal.
========================================================================== */
div.container {
    max-width: 1980px;
    width: 100%;
    margin: 0 auto;
    background-color: #0d0d0d;
    position: relative;
}

/* Banner.
========================================================================== */
div#banner {
    margin-top: 80px;
    background: url('banner.png') no-repeat;
    background-size: cover;
    position: relative;
    background-position: 0 25%;
}

/* Conteudo do Banner.
========================================================================== */
div#conteudo-banner {
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 27.5em;
    text-align: center;
}

div#conteudo-banner p {
    line-height: 23px;
}

/* ==========================================================================
Página Sobre Mim.
========================================================================== */

/* Interface.
========================================================================== */
.interface {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    margin-top: 80px;
    width: 100%;
    padding: 2em;
    background-color: #EFEFEF;
}

/* Foto do Perfil.
========================================================================== */
#foto {
    background: url('foto-perfil.jpg') no-repeat;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    background-size: contain;
    position: relative;
    float: left;
    margin-right: 2%;
}

/* Dados do Perfil.
========================================================================== */
#dados {
    position: relative;
    margin-bottom: 5em;
    clear: right;
}

/* Blocos da Interface.
========================================================================== */
.blocos {
    background-color: #e6e6e6;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

/* Divisão do Resumo.
========================================================================== */
#p-resumo {
    width: 72%;
    text-align: center;
    margin: 0 auto;
}

/* Divisão das Habilidades.
========================================================================== */
.blocos ul li {
    display: inline-block;
    width: 49.4%;
    text-align: center;
    position: relative;
    padding-top: 1em;
    font-weight: bold;
}

.blocos ul li:nth-child(1), .blocos ul li:nth-child(3), .blocos ul li:nth-child(5), .blocos ul li:nth-child(7) {
    border-right: 1px solid black;
}

.blocos ul li:nth-child(7) {
    padding-bottom: 15px;
}

.blocos ul li span {
    font-size: large;
}

progress {
    width: 70%;
    height: 30px;
    color: #acacac;
    background: #888888;
}

::-webkit-progress-bar {
    background: #acacac;
}

::-webkit-progress-value {
    background: #888888;
}

/* ==========================================================================
Página Contato.
========================================================================== */
/* Formulário.
========================================================================== */
form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    max-width: 700px;
    width: 500px;
    text-transform: uppercase;
    background-color: #1b70aa;
    border-radius: 15px;
}

.nome {
    max-width: 400px;
    width: 100%;
    height: 40px;
}

form h1 {
    text-align: center;
    padding: 50px 0;
    color: #fff;
}

form p {
    padding: 1em;
    text-align: center;
}

form textarea {
    width: 100%;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

#container-contato {
    background-image: url(bg-contato.png);
    background-position: center 250%;
    background-repeat: no-repeat;
    background-color: #e3e3e3;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
}

#smartphone {
    margin: 0 30px;
}

#img-topo {
    width: 300px;
}

#formulario {
    margin: 0 30px;
}

#whatsapp {
    padding-bottom: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#whats-logo {
    height: 100px;
    margin: 0 30px;
}

#whats-texto {
    text-align: left;
    margin: 0 30px;
}

#titulo-zap {
    margin-bottom: 30px;
}
.botao-zap {
    background-color: rgb(135, 163, 77);
    color: white;
    padding: 12px 30px;
    border-radius: 10px;
}

.botao-zap:hover {
    background-color: #25d366;
    color: white;
}

/* Botão.
========================================================================== */
.submit input {
    background-color: #fc844d;
    color: white;
    height: 40px;
    width: 300px;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0);
    margin-bottom: 50px;
}

.submit input:hover {
    background-color: #e07644;
}

/* ==========================================================================
Página Curriculo.
========================================================================== */
/* Imagem.
========================================================================== */

#curriculo-img {
    margin: 0 auto;
    display: flex;
}
#curriculo {
    width: 1000px;
    margin: auto;
}

/* ==========================================================================
Rodapé.
========================================================================== */
footer#rodape {
    width: 100%;
    background-color: #000000;
    padding-top: 5em;
    padding-bottom: 40px;
    position: relative;
    clear: both;
}

footer#rodape h2, #rodape p {
    color: #ffffff;
}

/* Caixas.
========================================================================== */
.caixa-rodape {
    width: 33.33%;
    padding: 1%;
    float: left;
}

#rodape:after {
    clear: both;
    content: "";
    display: block;
}

/* Logo.
========================================================================== */
.logo-rodape {
    text-align: center;
    margin: 0 auto;
}

.logo-rodape img {
    width: 80px;
}

.logo-rodape h2 {
    margin-top: 10px;
}

/* Listas.
========================================================================== */
.lista-rodape li {
    margin-top: 5px;
}

.lista-rodape a {
    color: #ffffff;
    transition: .5s;
}

.lista-rodape a:hover {
    color: #808080;
}

.lista-rodape li:after {
    clear: both;
    content: "";
    display: block;
}

#lista-redes {
    float: left;
}

/* Mapa Site.
========================================================================== */
.mapa-site {
    text-align: right;
}

#lista-mapa {
    float: right;
}

/* Direitos Autorais.
========================================================================== */
.direitos-autorais {
    width: 100%;
    background-color: #0d0d0d;
    position: relative;
    text-align: center;
    color: #ffffff;
}

.direitos-autorais p {
    height: 50px;
    line-height: 50px;
}

/* ==========================================================================
Responsividade.
========================================================================== */

/* Tablets.
========================================================================== */
@media screen and (max-width: 768px) {
    /* Menu Responsivo */
    .botaocheck {
        display: block;
    }

    picture#logo {
        float: left;
        position: relative;
        top: 15px;
        margin-left: 1em;
    }

    label.logotipo {
        font-size: 20px;
        padding-left: 10px;
    }

    nav#menu ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0d0d0d;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav#menu ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav#menu ul li a {
        font-size: 20px;
    }

    nav#menu-alt ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0d0d0d;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav#menu-alt ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav#menu-alt ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    /* Home Page */
    div#banner {
        background-position: center;
    }

    div#conteudo-banner {
        width: 70%;
        padding-top: 1em;
    }

    /* Sobre Mim */
    div#foto {
        float: none;
        margin: 0 auto;
    }

    div#dados {
        padding-top: 30px;
        margin-bottom: 2em;
        text-align: center;
    }

    div#dados h1 {
        margin-bottom: 10px;
    }

}

/* Smartphones.
========================================================================== */
@media screen and (max-width: 576px) {
    html, body {
        overflow-x: hidden;
    }

    picture#logo {
        padding-left: 10px;
    }

    /* Home Page */
    div#conteudo-banner {
        width: 80%;
    }

    div#conteudo-banner p {
        line-height: 20px;
    }

    /* Sobre Mim */
     p#p-resumo {
        width: 99%;
        text-align: center;
    }

    div.blocos ul li {
        width: 99%;
        border: none!important;
    }

    /* Contato */
    #main {
        justify-content: center;
        flex-direction: column;
    }

    #container-contato {
        background-position: center;
    }


    /* Rodape */
    div.logo-rodape img{
        width: 50px;
        height: 50px;
    }

    div.logo-rodape h2 {
        margin-top: 10px;
    }

    div.logo-rodape p {
        font-size: small;
    }

    div.caixa-rodape h2{
        font-size: 18px;
    }
    
    div.caixa-rodape li {
        font-size: 15px;
    }

    div.direitos-autorais p {
        height: 25px;
        line-height: 25px;
        font-size: small;
    }
}
